<template>
  <div class="lg:w-8/12 lg:mx-auto p-6 lg:p-0">
    <SliderVue />
    <div>
      <div class="text-center mt-8 w-full flex justify-between">
        <h1 class="text-sm ">Featured Daily Deals</h1>
        <h1 class="text-xs flex items-center uppercase hover:text-red-500 transition-all duration-150 cursor-pointer ">See all <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
        
        </h1>
     
      </div>

      <div class="mt-3">
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-6 ">
          <div v-for="cart in arr_card" :key="cart">
            <div class=" hover:scale-105 transition-all duration-300 rounded-md bg-white relative"
              style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;">
              <div class="flex justify-center p-3">
                <img class=" cursor-pointer" width="200px" height="200px" :src="cart.url" alt="">
              </div>
              <div class="p-4 space-y-2">
                <p class="text-[15px]">{{ cart.title }}</p>
                <p class="flex space-x-1 text-orange-600 text-xs">

                  <i class='bx bx-star'></i>
                  <i class='bx bx-star'></i>
                  <i class='bx bx-star'></i>
                  <i class='bx bx-star'></i>
                  <i class='bx bxs-star-half'></i>
                </p>


                <div class="flex justify-between space-x-1 items-center">
                  <div class="mt-2">
                    <p class=" text-xs text-gray-400 line-through ">${{ cart.price }}</p>
                    <p class="text-sm text-red-600 ">${{ cart.price }}</p>
                  </div>
                  <div class="space-x-2">
                    <button
                      class="bg-black text-white p-1 text-xs cursor-pointer  rounded-md mt-2 hover:bg-blue-950 transition-all duration-150 ease-in-out">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                      </svg>
                    </button>
                    <button
                      class="bg-black text-white p-1 text-xs cursor-pointer  rounded-md mt-2 hover:bg-blue-950 transition-all duration-150 ease-in-out">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                      </svg>
                      
                    </button>
                  </div>
                </div>
                <div class=" absolute  bg-red-500 text-white text-xs p-1 top-1 rounded-md">{{ cart.discount }} % OFF
                </div>
                <!-- <p class="text-xs text-gray-500">{{cart.descL}}</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-8 w-full flex justify-between">
        <h1 class="text-sm ">Featured Daily Deals</h1>
        <h1 class="text-xs flex items-center uppercase hover:text-red-500 transition-all duration-150 cursor-pointer ">See all <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
        
        </h1>
    
      </div>

      <div class="mt-3">
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-6 ">
          <div v-for="cart in arr_card" :key="cart">
            <div class=" hover:scale-105 transition-all duration-300 rounded-md bg-white relative"
              style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;">
              <div class="flex justify-center p-3">
                <img class=" cursor-pointer" width="200px" height="200px" :src="cart.url" alt="">
              </div>
              <div class="p-4 space-y-2">
                <p class="text-[15px]">{{ cart.title }}</p>
                <p class="flex space-x-1 text-orange-600 text-xs">

                  <i class='bx bx-star'></i>
                  <i class='bx bx-star'></i>
                  <i class='bx bx-star'></i>
                  <i class='bx bx-star'></i>
                  <i class='bx bxs-star-half'></i>
                </p>


                <div class="flex justify-between space-x-1 items-center">
                  <div class="mt-2">
                    <p class=" text-xs text-gray-400 line-through ">${{ cart.price }}</p>
                    <p class="text-sm text-red-600 ">${{ cart.price }}</p>
                  </div>
                  <div class="space-x-2">
                    <button
                      class="bg-black text-white p-1 text-xs cursor-pointer  rounded-md mt-2 hover:bg-blue-950 transition-all duration-150 ease-in-out">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                      </svg>
                    </button>
                    <button
                      class="bg-black text-white p-1 text-xs cursor-pointer  rounded-md mt-2 hover:bg-blue-950 transition-all duration-150 ease-in-out">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                      </svg>
                      
                    </button>
                  </div>
                </div>
                <div class=" absolute  bg-red-500 text-white text-xs p-1 top-1 rounded-md">{{ cart.discount }} % OFF
                </div>
                <!-- <p class="text-xs text-gray-500">{{cart.descL}}</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black mt-3">
    <FooterVue/>
  </div>
</template>

<script>
import SliderVue from '@/components/SliderVue'
import FooterVue from './../components/FooterVue.vue'
import { ref } from 'vue';

export default {
  name: 'HomeView',
  components: {
    SliderVue,
    FooterVue
  },

  setup() {
    const arr_card = ref([
      {
        id: 1,
        title: "Red T-shirt",
        price: "13.00",
        discount: "20",
        descL: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
        url: "https://prd.cc.duluthtrading.com/on/demandware.static/-/Sites-dtc-master-catalog/default/dw13c50eee/images/large/76020_EBR.jpg"
      },
      {
        id: 2,
        title: "Black T-shirt",
        price: "10.00",
        discount: "40",
        descL: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
        url: "https://stevenseagulls.com/wp-content/uploads/2023/03/SNS_merkkarit-8-scaled.jpg"
      },
      {
        id: 3,
        title: "Green T-shirt",
        price: "15.00",
        discount: "8",
        descL: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
        url: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQORb2lhED2d9ZuKmWWy4b2zY7imumxGtINBGjrXSo7iQ&s"
      },
      {
        id: 4,
        title: "Blue T-shirt",
        price: "20.00",
        discount: "12",
        descL: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
        url: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt_Tk8q2XrMB4NhET5SL4xELCklFyPd7GsQ0H5NuonNg&s"
      }
    ])

    return { arr_card }
  }
}
</script>
