<template>
   <div>
    <h1 class="font-bold">Your Shopping Cart</h1>
    <p class="text-sm">Sign in to continue</p>
    <hr>

    <button class="bg-black text-white py-1 px-3 transform hover:scale-105 text-sm mt-5 hover:text-white rounded-md transition-all duration-300 ease-in-out ">Sign in Now</button>
</div>
</template>