<template>
    <div class="">
        <div class="flex justify-between w-full">
            <button style="border: 1px solid black;" class="py-0.5 text-sm px-2 hover:bg-black hover:text-white rounded-md transition-all duration-300 ease-in-out ">English</button>
            <button style="border: 1px solid black;" class="py-0.5 text-sm px-2 hover:bg-black hover:text-white rounded-md transition-all duration-300 ease-in-out ">Khmer</button>

        </div>
    </div>
</template>