<template>
    <div style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;" class="bg-white p-6 sticky top-0  mb-auto w-full z-20">
        <nav class="flex justify-between items-center lg:w-10/12 lg:mx-auto">
            <div class="flex space-x-4 text-sm">
                <router-link :to="{ name: 'home' }">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                    </svg>
                </router-link>
                <ul class="lg:flex justify-center space-x-4 hidden">
                    <li>
                        <router-link class="hover:bg-gray-100 p-2 rounded-md" :to="{ name: 'home' }">Home</router-link>
                    </li>
                    <li>
                        <router-link class="hover:bg-gray-100 p-2 rounded-md" :to="{ name: 'allproduct' }">All
                            Product</router-link>
                    </li>
                    <li>
                        <router-link class="hover:bg-gray-100 p-2 rounded-md"
                            :to="{ name: 'promotion' }">Promotion</router-link>
                    </li>
                    <li>
                        <router-link class="hover:bg-gray-100 p-2 rounded-md"
                            :to="{ name: 'product' }">Product</router-link>
                    </li>

                    <li class="sub-menu-parent" tab-index="0">
                        <p class="flex space-x-2 items-center cursor-pointer">Category
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </p>
                        <ul class="sub-menu bg-white shadow w-52 p-2 h-44 overflow-hidden overflow-y-auto rounded-md ">
                            <div v-for="cat in cateogry" :key="cat" class="hover:bg-gray-100 rounded-md p-2 ">
                                <router-link :to="cat.link">{{ cat.name }}</router-link>
                            </div>
                        </ul>
                    </li>
                
                </ul>
            </div>

            <div class="flex items-center space-x-4">
                <ul class=" relative">

                    <li class="sub-menu-parent" tab-index="0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 cursor-pointer hover:text-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                        <ul
                            class="bg-white flex sub-menus shadow mt-[2rem] border-t-2 border-blue-500 p-2 w-52 rounded-md  ">
                            <input type="text" style="border: 1px solid lightgray ;"
                                class=" outline-none text-sm p-0.5 md:p-1 border-none border-2 w-full rounded-sm"
                                placeholder="Search...">
                            <div class=" h-6 w-6 border-r-[12px] border-b-[15px]  absolute -top-6 left-2
                            border-l-[12px] border-solid border-r-transparent
                            border-l-transparent border-b-blue-500">

                            </div>
                            <div class=" absolute right-3 mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </div>

                        </ul>
                    </li>
                </ul>
                <div class="">
                    <ul class=" relative">
                        <li class="sub-menu-parent cursor-pointer" tab-index="0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802" />
                            </svg>

                            <ul
                                class="bg-white flex sub-menus shadow mt-[2rem] border-t-2 border-blue-500 p-2 w-36 rounded-md mr-4 ">

                                <div class=" h-6 w-6 border-r-[12px] border-b-[15px]  absolute -top-6 left-2
                                border-l-[12px] border-solid border-r-transparent
                                border-l-transparent border-b-blue-500">

                                </div>
                                <div class="w-full">
                                    <LanguageVue />
                                </div>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 cursor-pointer hover:text-gray-400 ">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>

                </div>
                <div>

                    <ul class=" relative">
                        <li class="sub-menu-parent cursor-pointer" tab-index="0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5 cursor-pointer hover:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>

                            <ul
                                class="bg-white  flex sub-menus shadow mt-[2rem] border-t-2 border-blue-500 p-2 w-56  rounded-md -ml-[8rem] ">

                                <!-- <div class=" h-6 w-6 border-r-[13px] border-b-[20px]  absolute -top-6 left-9
                                border-l-[13px] border-solid border-r-transparent
                                border-l-transparent border-b-blue-500">

                                </div> -->
                                <div class="w-full p-2">
                                    <CartVue />
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 cursor-pointer hover:text-gray-400">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>
                </div>
                <div class="lg:hidden">
                    <svg v-if="!isOpen" @click="isOpen = !isOpen" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-5 font-bold h-5 cursor-pointer hover:text-gray-400 ">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>

                    <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
        </nav>

    </div>

    <!-- reponsive -->
    <Transition name="slide-fade" class="lg:hidden overflow-y-auto z-20">
        <div v-if="isOpen" class="fixed top-0 bg-white  w-full h-screen">
            <div class="flex justify-between p-6 items-center" style="border-bottom: 1px solid lightgray;">
                <div class="flex space-x-3 ">
                    <router-link :to="{ name: 'home' }"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                        </svg>
                    </router-link>
                    <div>
                        LogoHere
                    </div>
                </div>
                <div>
                    <svg @click="isOpen = !isOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-4 h-4 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>

                </div>
            </div>
            <nav class="p-6">
                <ul class="space-y-6 text-md">
                    <li @click="isOpen = !isOpen">
                        <router-link class="hover:bg-gray-100 p-2 rounded-md" :to="{ name: 'home' }">Home</router-link>
                    </li>
                    <li @click="isOpen = !isOpen">
                        <router-link class="hover:bg-gray-100 p-2 rounded-md" :to="{ name: 'allproduct' }">All
                            Product</router-link>
                    </li>
                    <li @click="isOpen = !isOpen">
                        <router-link class="hover:bg-gray-100 p-2 rounded-md"
                            :to="{ name: 'promotion' }">Promotion</router-link>
                    </li>
                    <li @click="isOpen = !isOpen">
                        <router-link class="hover:bg-gray-100 p-2 rounded-md"
                            :to="{ name: 'product' }">Product</router-link>
                    </li>
                    <li>
                        <button @click="isOpenDropDown = !isOpenDropDown"
                            class="hover:bg-gray-100 p-2 rounded-md flex space-x-4 items-center">Category
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </button>
                        <Transition>
                            <div v-if="isOpenDropDown"
                                class="ml-5 space-y-4 transition-all duration-150 ease-in-out mt-2">
                                <div @click="isOpen = !isOpen" v-for="cat in cateogry" :key="cat">
                                    <router-link class="hover:bg-gray-100 p-2 rounded-md" :to="cat.link">{{ cat.name
                                        }}</router-link>
                                </div>
                            </div>
                        </Transition>
                    </li>
               
                    <li class="p-2 space-y-4">
                        <div class="flex space-x-3 items-center cursor-pointer transform duration-300 ease-in-out transition-all  hover:scale-105">
                            <a href="#"><img width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/1200px-Flag_of_Cambodia.svg.png" alt=""></a>
                            <p class="font-bold text-sm">Khmer</p>

                        </div>
                        <div class="flex space-x-3 items-center cursor-pointer transform duration-300 ease-in-out transition-all  hover:scale-105">
                            <a href="#"><img width="30px"  src="https://cdn.britannica.com/33/4833-004-828A9A84/Flag-United-States-of-America.jpg" alt=""></a>
                            <p class="font-bold text-sm">English</p>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </Transition>

    <!-- <div class="lg:w-8/12 lg:mx-auto p-6 lg:p-0"> -->
        <router-view></router-view>
    <!-- </div> -->
</template>

<script>
import { ref } from 'vue';
import LanguageVue from './LanguageVue.vue';
import CartVue from './CartVue.vue';

export default {
    components: {
        LanguageVue,
        CartVue
    },
    setup() {

        const isOpen = ref(false)
        const isOpenDropDown = ref(false)

        const cateogry = [

            {
                name: "Foood",
                link: "/category1"
            },
            {
                name: "Meat",
                link: "/category2"
            },
            {
                name: "Waters",
                link: "/category4"
            },
            {
                name: "Elictronic",
                link: "/category5"
            },
            {
                name: "Drinking",
                link: "/category6"
            },
            {
                name: "Orange Juice",
                link: "/category7"
            },
            {
                name: "Fresh Mile",
                link: "/category8"
            }
        ]

        return { cateogry, isOpen, isOpenDropDown }
    }
}

</script>

<style>
.slide-fade-enter-active {
    transition: all 0.1s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(-40px);
    opacity: 0;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}


.sub-menu-parent {
    position: relative;

}

.sub-menu {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.sub-menu-parent:focus .sub-menus,
.sub-menu-parent:focus-within .sub-menus,
.sub-menu-parent:hover .sub-menus {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}


.sub-menus {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
</style>