<template>
    <swiper :spaceBetween="10" :centeredSlides="true" :autoplay="{
        delay: 4000,
        disableOnInteraction: false,
    }" :pagination="{
        clickable: true,
    }" 
    :navigation="{ 
        nextEl: '.button-next-slide',
        prevEl: '.button-prev-slide',
      }" 
      :modules="modules" class="mySwiper relative group">


        <swiper-slide class="bg-blue-500" v-for="image in arr_image" :key="image">
            <div>
                <img width="100%" :src="image.url" alt="">
            </div>
        </swiper-slide>
       
        <div class="button-prev-slide hidden -left-full group-hover:left-0  absolute top-[45%] h-10 w-10 bg-white shadow md:flex justify-center items-center rounded-sm ml-2 cursor-pointer hover:bg-gray-200 transition-all duration-300 ease-in-out  z-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
              </svg>
        </div>
        <div class="button-next-slide hidden group-hover:right-0  absolute top-[45%] h-10 w-10 bg-white shadow md:flex justify-center items-center rounded-sm ml-2 cursor-pointer hover:bg-gray-200 transition-all duration-300 ease-in-out  z-10 -right-full mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
              </svg>
        </div>
        
    </swiper>
</template>
<script>
// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Autoplay, Pagination, Navigation } from 'swiper/modules';

// Import Swiper styles
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
import { ref } from 'vue';

export default {
    components: {
        Swiper,
        SwiperSlide,
    },
    setup() {

        //array Image

        const arr_image = ref([
            {
                id: 1,
                url: "https://static.vecteezy.com/system/resources/previews/002/006/774/non_2x/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-backgroud-for-banner-market-ecommerce-free-vector.jpg"
            },
            {
                id: 2,
                url: "https://static.vecteezy.com/system/resources/previews/002/006/774/non_2x/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-backgroud-for-banner-market-ecommerce-free-vector.jpg"
            },
            {
                id: 3,
                url: "https://static.vecteezy.com/system/resources/previews/002/006/774/non_2x/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-backgroud-for-banner-market-ecommerce-free-vector.jpg"
            }
        ])

        const onSwiper = (swiper) => {
            console.log(swiper);
        };
        const onSlideChange = () => {
            console.log('slide change');
        };

        return {
            onSwiper,
            onSlideChange,
            arr_image,
            modules: [Autoplay, Pagination, Navigation],
        };
    },
};
</script>

<style>
.swiper-pagination-bullet {
    width: 20px;
    border-radius: 0%;
    height: 3px;
}
</style>