<template>
  <div>
    <NavbarVue/>
  </div>

</template>

<script>

  import NavbarVue from '@/components/NavbarVue'
  export default {
    components: {
      NavbarVue
    }
  }

</script>

<style>

</style>
